name: Golang build

on:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Generate test mocks
        run: make generate
      - name: Unit test
        run: make unit-test-go

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Generate test mocks
        run: make generate
      - name: Staticcheck
        run: make staticcheck
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          skip-pkg-cache: true

  end-to-end:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        FABRIC_VERSION: ['2.4.8', '2.5.0']
        CREATE_CHANNEL: [create_channel, existing_channel]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - run: ./hack/ci.sh ${{matrix.FABRIC_VERSION}} ${{matrix.CREATE_CHANNEL}}
