name: Golang build

on:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Generate test mocks
        run: make generate
      - name: Unit test
        run: make unit-test-go

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Generate test mocks
        run: make generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest

  end-to-end:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - FABRIC_VERSION: "2.5.13"
            CREATE_CHANNEL: "create_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "2.5.13"
            CREATE_CHANNEL: "existing_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "3.1.1"
            CREATE_CHANNEL: "create_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "3.1.1"
            CREATE_CHANNEL: "existing_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "3.1.1"
            CREATE_CHANNEL: "create_channel"
            CONSENSUS: BFT
          - FABRIC_VERSION: "3.1.1"
            CREATE_CHANNEL: "existing_channel"
            CONSENSUS: BFT
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: run end to end test
        env:
          FABRIC_VERSION: ${{matrix.FABRIC_VERSION}}
          CREATE_CHANNEL: ${{matrix.CREATE_CHANNEL}}
          CONSENSUS: ${{matrix.CONSENSUS}}
        run: ${{ github.workspace }}/.github/scripts/ci.sh
