name: Golang build

on:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - name: Generate test mocks
        run: make generate
      - name: Unit test
        run: make unit-test-go

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Generate test mocks
        run: make generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest

  end-to-end:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - FABRIC_VERSION: "2.5.11"
            CREATE_CHANNEL: "create_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "2.5.11"
            CREATE_CHANNEL: "existing_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "3.0.0"
            CREATE_CHANNEL: "create_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "3.0.0"
            CREATE_CHANNEL: "existing_channel"
            CONSENSUS: RAFT
          - FABRIC_VERSION: "3.0.0"
            CREATE_CHANNEL: "create_channel"
            CONSENSUS: BFT
          - FABRIC_VERSION: "3.0.0"
            CREATE_CHANNEL: "existing_channel"
            CONSENSUS: BFT
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - name: run end to end test
        env:
          FABRIC_VERSION: ${{matrix.FABRIC_VERSION}}
          CREATE_CHANNEL: ${{matrix.CREATE_CHANNEL}}
          CONSENSUS: ${{matrix.CONSENSUS}}
        run: ${{ github.workspace }}/.github/scripts/ci.sh
