name: js

on:
  push:
  workflow_dispatch:
jobs:
  node-test:
    defaults:
      run:
        working-directory: node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: check default node version
        run: node --version
      - run: npm i
        working-directory: node/formatter
      # - run: npm test
      #   working-directory: node/formatter
      - run: npm i
        working-directory: node/admin
      # - run: npm test
      #   working-directory: node/admin
  ts-test:
    defaults:
      run:
        working-directory: ts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - run: npm i
        working-directory: ts/formatter
      - run: npm run compile
        working-directory: ts/formatter
